.infoHeader {
    color: white;
    align-self: flex-start;
}

.infoText {
    text-align-last: left;
}

.lofi{
    color: white;
    margin-top: 250px;
    text-align: center;
    font-family: serif;
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.contactContainer{
    position: relative;
    min-height: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contactContainer .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contactContainer .container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contactContainer .container .contactInfo .infoblock{
    position: relative;
    padding: 20px 0;
    display: flex;
    color: #fff;
}

.contactContainer .container .contactInfo .infoblock .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color:#212121;
}

.contactContainer .container .contactInfo .infoblock .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:#fff;
    flex-direction: column;
    font-weight: 300;
}

.contactContainer .container .contactInfo .infoblock .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.contact-form{
    width: 60%;
    padding: 40px;
    background: white;
}

.contact-form .form{
    width: 100%;
    position: relative;
    margin-top: 10px;
}

.form input,
.form textarea{
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    align-items: flex-start;
}


textarea{
     resize: vertical; 
    font-size: 30px;
    color: #333;
    font-weight: 500;
} 

button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 24px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    color: #00bcd4;
    font-weight: 1000;
    transition: .3s ease background-color;
    background-color: #212121;
    border: 2px solid var(--primary)
}

button[type="submit"]:hover{
    background-color: #333;
}


.contact-header {
    text-align-last: left;
}

.contact-label {
    text-align-last: left;
}