:root{
    --primary:#0064b1;
    --secondary:#f46f19;
    --light: #EEEEEE;
    --dark: #212121;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0,0,0,0.6);
}

.icon1{
    width: 40px;
    height: 40px;
}

.icon2{
    width: 40px;
    height: 40px;
}

.icon3{
    width: 40px;
    height: 40px;
}

.icon4{
    width: 40px;
    height: 40px;
}

.icon5{
    width: 40px;
    height: 40px;
}