.homepage{
}

.orgname{
    max-width: 500px;
    margin: 0 auto;
}

h1{
    margin-top:5px;
    text-align: center;
    color: var(--secondary);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 175px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0em;
    letter-spacing: 7px;
}

.title{
    color: white;
    margin-top: 250px;
    text-align: center;
    font-family: serif;
    font-style: italic;
    font-size: 25px;
    line-height: normal;
}

.description{
    color: white;
    margin-top: auto;
    text-align: center;
    font-family: serif;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 3px;
    box-sizing: border-box;
    text-transform: uppercase;
}
