.App {
  text-align: center;
}

body{
  background:
      linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
      ),
      url("assets/utatower.png");
      
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-attachment: fixed;
  background-size: cover; 
}